################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/the-office.api/.vs/the-office.api/v17/.suo
