# Compile config
bin/
obj/
appsettings.json

# NuGet package restore
**/packages/
*.nupkg

# Files temp
**/*.bak
**/*.log
**/*.tmp
**/*.vs

# Fser files
*.user
*.suo
*.userprefs
/src/the-office.api/appsettings.json
/src/the-office.api/appsettings.Development.json
/src/the-office.api/appsettings.Development.json
/src/the-office.api/appsettings.json
